body {
    font-family: Arial, sans-serif;
    background-color: #89dce7;
    color: #333;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #1c0875;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    display: inline-block;
}

nav ul li a:hover {
    background-color: #575757;
}

.container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}

form {
    margin-top: 20px;
}

label {
    font-weight: bold;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

<style>

/* Contenedor del carrusel */
.carousel {
    position: relative;
    max-width: 400px;
    /* Ajusta el ancho del carrusel */
    height: 150px;
    /* Ajusta la altura del carrusel */
    margin: auto;
    overflow: hidden;
}

/* Contenedor de las imágenes */
.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 50%;
    border: blue;
}

/* Imágenes dentro del carrusel */
.carousel-images img {
    flex: 0 0 100%;
    /* Cada imagen ocupa el 100% del ancho del contenedor */
    height: 100%;
    /* Ajusta la altura de la imagen al contenedor del carrusel */
    object-fit: cover;
    /* Ajusta la imagen para cubrir el contenedor sin distorsionar */
}


/* Botones del carrusel */
.carousel-button {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    z-index: 100;
}

.carousel-button.prev {
    left: 10px;
}

.carousel-button.next {
    right: 10px;
}

.carousel-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

</style>